server {
	listen 80;
	root /var/www/html;

	# Add index.php to the list if you are using PHP
	index index.html index.htm index.nginx-debian.html;

	server_name {{ metrics_endpoint }};

	location / {
            proxy_pass       http://localhost:3000;
            proxy_set_header Host      $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
}
